[Unit]
Description=db4e P2Pool Log Service - QA

[Service]
User=db4e
WorkingDirectory=/opt/qa/db4e
ExecStart=/opt/qa/db4e/bin/db4e.py -m
Restart=always
RestartSec=3
KillMode=process

[Install]
WantedBy=multi-user.target

