[Unit]
Description="Database 4 Everything Service"

[Service]
User=db4e
WorkingDirectory=[[INSTALL_DIR]]
ExecStart=[[INSTALL_DIR]]/bin/db4e.py -s
Restart=always
RestartSec=3
KillMode=process

[Install]
WantedBy=multi-user.target

