#topbar_row {
    layout: horizontal;
    height: 1;
    dock: top;
    background: $surface;
}

#topbar_component {
    text-align: center;
    content-align: center middle;
    width: 70%;
}

#topbar_title {
    width: 15%;
    content-align: left middle;
}

#topbar_help {
    width: 15%;
    content-align: right middle;
}

