/* Root screen layout */

Screen {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr 4fr;
    grid-rows: 13fr 1fr;
    grid-gutter: 0 1; }

Button {
    align: center middle;
    border: round;
    width: 20;
    background: black; }

Clock {
    height: 3;
    padding: 0 2;
    border: round;
    align: center middle;
    background: black; }

NavPane {
    height: 9fr;
    padding: 0 2;
    border: round;
    background: black; }

TopBar {
    height: 3;
    padding: 0 2;
    border: round;
    dock: top;
    background: black }

MarkdownViewer {
    background: black; }

/* Page elements */

Tree {
    background: black; }

#topbar_title {
    content-align: center middle;
    width: 100%; }

#tree_deployments,
#tree_metrics {
    height: auto; }


/* Button Row */
.button_row {
    height: 3;
}


/* Forms with X rows */

.form_3 {
    padding: 0 2;
    border: round;
    width: 100%;
    height: 5; 
    background: black; }

.form_4 {
    padding: 0 2;
    border: round;
    width: 100%;
    height: 6; 
    background: black; }

.form_5 {
    padding: 0 2;
    border: round;
    width: 100%;
    height: 7; }

/* Intro text at the top */

.form_intro {
    padding: 0 2;
    border: round; 
    width: 100%; }


/* Input fields with width X */

.form_input_7 {
    color: yellow;
    padding: 0 1; 
    width: 9; }

.form_input_15 {
    color: yellow;
    padding: 0 1;
    width: 15; }

.form_input_30 {
    color: yellow;
    padding: 0 1;
    width: 30; }

.form_input_40 {
    color: yellow;
    padding: 0 1;
    width: 40; }

.form_input_70 {
    color: yellow;
    padding: 0 1;
    width: 70; }
    
.form_label {
    color:cyan;
    padding: 0 1;
    width: 25; }


/* Health Box */

.health_box {
    border: round;
    padding: 0 1;
}


/* Hidden field definition */

.hidden {
    display: none; }


/* Entire Detail Pane */

.pane_box {
    border: round;
    padding: 0 1;
    background: black;
}


/* Radio Button Width */

.radio_button_type {
    width: 26; 
    background: black; }


.radio_set {
    border: round;
    width: 30;
    background: black; }

.static_content {
    color: #78ff78; 
    padding: 0 1; }

.yellow_button {
    color: yellow;
    text-style: bold; }

.green_button {
    color: #54d754;
    text-style: bold; }

.red_button {
    color: #c44242;
    text-style: bold; }